@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--main-color : #FFFFFF;
--dark-black: #121929;
--light-black: #404552;
--light-txt-color: #696F7B;
}

